* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(./../images/wall2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.navbar img {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.navbar {
    width: 85%;
    height: 15%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

button {
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

button:hover {
    background-color: aquamarine;
    color: #000;
}

.content {
    color: #eef2f4;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}

h1 {
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}

.bubbles img {
    height: 60px;
    width: 60px;
    animation: bubble 7s linear infinite;
}

.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -110px;
}

@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: translateY(-90vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1) {
    animation-delay: 2s;
    width: 100px;
    height: 100px;
}

.bubbles img:nth-child(2) {
    animation-delay: 1s;
    width: 80px;
    height: 80px;
}

.bubbles img:nth-child(3) {
    animation-delay: 3s;
    width: 90px;
    height: 90px;
}

.bubbles img:nth-child(4) {
    animation-delay: 1s;
}

.bubbles img:nth-child(5) {
    animation-delay: 5s;
    width: 110px;
    height: 110px;
}

.bubbles img:nth-child(6) {
    animation-delay: 3s;
    width: 100px;
    height: 100px;
}

.bubbles img:nth-child(7) {
    animation-delay: 6s;
    width: 85px;
    height: 85px;
}